<% user_can_modify_images = Refinery::Plugins.active.names.include?("refinery_images") %>
<div id='dialog_menu_left'>
  <% if (any_images = @images.any?) %>
    <span id="existing_image_radio" class="radio<%= " selected_radio" if @image.errors.empty? %>">
      <input type='radio' name='image_type' value='existing_image' id='image_type_existing' <%= "checked='true'" if @image.errors.empty? %> />
      <label for='image_type_existing' class='stripped'><%=t('.existing_image')%></label>
    </span>
  <% end %>
  <% if user_can_modify_images %>
    <span id="upload_image_radio" class="radio<%= " selected_radio" if @image.errors.any? or @images.empty? %>">
      <input type='radio' name='image_type' value='upload_image' id='image_type_upload' <%= "checked='true'" if @images.empty? || @image.errors.any? %> />
      <label for='image_type_upload' class='stripped'><%= t('.new_image') %></label>
    </span>
  <% end %>
</div>

<div id='dialog_main'>
  <% if any_images or user_can_modify_images %>
    <%= render :partial => "existing_image" if any_images %>

    <% if user_can_modify_images %>
      <div id='upload_image_area' class='dialog_area' <%= "style='display:none;'" if any_images and @image.errors.empty? %>>
        <%= render :partial => "form", :locals => {:insert => true} %>
      </div>
    <% end %>
  <% else %>
    <% flash.now[:error] = t('admin.images.index.no_images_yet').split('.').first.html_safe + "." %>
    <%= render :partial => "/shared/admin/form_actions",
               :locals => {
                 :f => nil,
                 :cancel_url => '',
                 :hide_cancel => false,
                 :hide_delete => true,
                 :hide_submit => true,
                 :cancel_button_text => t('shared.admin.message.close'),
                 :cancel_title => nil
               } %>
  <% end %>
</div>

<% content_for :head do %>
  <script type='text/javascript'>
    $(document).ready(function(){
      image_dialog.init(<%= @callback.present? ? "self.parent.#{@callback}" : "null" %>);
    });
  </script>
<% end %>
