<%
  if (yielded_head = yield(:head)).present?
    logger.warn "\n-- DEPRECATION WARNING --"
    logger.warn "The use of 'content_for :head' is DEPRECATED for the frontend layouts."
    logger.warn "For stylesheets, use content_for :stylesheets"
    logger.warn "For javascripts, use content_for :javascripts"
    logger.warn "For meta tags, use content_for :meta"
    logger.warn "This change is necessary so that we can deliver a performant experience for the user."
    logger.warn "Called from: #{caller.detect{|c| c =~ %r{#{Rails.root.to_s}}}.inspect.to_s.split(':in').first}\n\n"
  end
  if (yielded_head_libraries = yield(:head_libraries)).present?
    logger.warn "\n-- DEPRECATION WARNING --"
    logger.warn "The use of 'content_for :head_libraries' is DEPRECATED for the frontend layouts."
    logger.warn "Please use content_for :before_javascript_libraries or content_for :after_javascript_libraries instead."
    logger.warn "This change is necessary so that we can deliver a performant experience for the user."
    logger.warn "Called from: #{caller.detect{|c| c =~ %r{#{Rails.root.to_s}}}.inspect.to_s.split(':in').first}\n\n"
  end
%>
<head>
  <meta charset='<%= ::Refinery::Application.config.encoding %>' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw "<meta name=\"description\" content=\"#{@meta.meta_description}\" />" if @meta.meta_description.present? -%>
  <%= raw "<meta name=\"keywords\" content=\"#{@meta.meta_keywords}\">" if @meta.meta_keywords.present? -%>
  <%= csrf_meta_tag if RefinerySetting.find_or_set(:authenticity_token_on_frontend, true)-%>
  <%= yield :meta %>

  <%= stylesheet_link_tag stylesheets_for_head(stylesheets||=%w(application formatting theme), theme ||= false),
                          :cache => ("cache/application" if Rails.root.writable? and
                                                            RefinerySetting.find_or_set(:use_resource_caching, true) and
                                                            request.env['HTTP_USER_AGENT'] !~ /MSIE/ and (theme ||= false).blank?) %>
  <%= stylesheet_link_tag "home", :theme => theme if home_page? %>

  <%= yield :stylesheets %>
  <%= render :partial => '/shared/google_analytics' unless local_request? %>

  <%= javascript_include_tag 'modernizr-min' %>

  <% #TODO: REMOVE yielded_head and yielded_head_libraries and deprecation notice 0.9.9 <=> 1.0 %>
  <%= yielded_head_libraries %>
  <%= yielded_head %>
</head>
