<% if refinery_user? %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] or local_assigns[:exclude_css] %>
  <% end -%>
  <div id='site_bar'>
    <div id='site_bar_content' class='clearfix'>
      <div id='editor_switch'>
        <%= site_bar_switch_link -%>
      </div>
      <%= link_to image_tag("#{"http://refinerycms.com/images/" unless local_request?}refinery/logo-site-bar.png", :alt => "Refinery (tm) Content Manager"),
                  'http://refinerycms.com',
                  :target => '_blank',
                  :id => 'site_bar_refinery_cms_logo' %>

      <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= RefinerySetting.find_or_set(:site_name, 'Company Name') %>
        </span>

        <%= link_to t('.log_out', site_bar_translate_locale_args),
                    destroy_user_session_path, :id => 'logout' %>
      </div>
    </div>
  </div>
<% end %>
