<%%= render 'refinery/<%= namespacing.underscore %>/admin/submenu' %>

<%
  delete_title = (title = attributes.detect { |a| a.type.to_s == "string" }).present? ? ", :title => @#{singular_name}.#{title.name}" : ''
-%>
<% if include_live_editor? -%>
<%% content_for :admin_page_preview do %>
  <%%= render template: 'refinery/<%= namespacing.underscore %>/<%= plural_name %>/show' %>
<%% end %>

<%% content_for :admin_sidebar do %>
<% end -%>
<% if include_live_editor? -%>
  <div class="page-options">
    <div class="sidebar-section">
      <div class="sidebar-section-heading">
        <i class="icon icon-pencil"></i> <span class="flex-1">Status: <strong>Draft</strong></span>
      </div>
    </div>
<% else -%>
<%% content_for :admin_content do %>

<div class="admin-page container-fluid">
 <div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<% end -%>
    <%%= form_for [refinery, :<%= namespacing.underscore %>_admin, @<%= singular_name %>], :html => {:class => "ajax-form"} do |f| -%>
      <%%= render '/refinery/admin/error_messages',
                  :object => @<%= singular_name %>,
                  :include_object_name => true %>

<% if localized? -%>
      <%%= render '/refinery/admin/locale_picker',
                  :current_locale => Globalize.locale %>
<% end -%>
<% attributes.each_with_index do |attribute, index|  -%>
<%   if attribute.refinery_type == :image -%>
      <div class="m-b-4">
        <div class='form-group'>
          <%%= render '/refinery/admin/images/image_input',
            :f => f,
            :field_name => :<%= attribute.name %>,
            :image => @<%= singular_name %>.<%= attribute.name %>
          -%>
          <%%= render '/refinery/admin/images/image_preview',
            :field_name => :<%= attribute.name %>,
            :image => @<%= singular_name %>.<%= attribute.name %>
          -%>
        </div>
      </div>

<%   elsif attribute.type.to_s == 'resource' -%>
      <div class='form-group'>
        <%%= f.label :<%= attribute.name %>, class: 'control-label' -%>
        <%%= render '/refinery/admin/resource_picker',
                   :f => f,
                   :field => :<%= "#{attribute.name}_id".gsub("_id_id", "_id") %>,
                   :resource => @<%= singular_name %>.<%= attribute.name.gsub("_id", "") %> -%>
      </div>

<%   elsif attribute.type.to_s == 'time' -%>
       TODO: put the time input field in here
<%   elsif attribute.type.to_s.start_with?('date') -%>
      <div class="sidebar-section sidebar-date">
        <%%= f.hidden_field :<%= attribute.name %>, :value => @<%= singular_name %>.<%= attribute.name %>.present? ? @<%= singular_name %>.<%= attribute.name %>.iso8601 : nil %>
        <button class="datepicker-opener<%= ' date-only' if attribute.type.to_s == 'date' %>" type="button" data-io-selector="#<%= singular_name %>_<%= attribute.name %>">
          <div class="sidebar-section-heading">
            <i class="icon icon-calendar"></i>
            <span class="flex-1">
              Published: <strong class="update-date"> <%%= @<%= singular_name %>.<%= attribute.name %>.present? ? @<%= singular_name %>.<%= attribute.name %>.strftime("%b. %e %Y<%= ' %l:%M %p' if attribute.type.to_s == 'datetime' %>") : "Choose date" %></strong>
            </span>
            <i class="icon icon-down"></i>
          </div>
        </button>
        <%%= render '/glass/datepicker' %>
      </div>

<%   else -%>
<%     if include_live_editor? -%>
      <%%= f.hidden_field :<%= attribute.name %> -%>
<%     else -%>
      <div class='form-group'>
        <%%= f.label :<%= attribute.name %>, class: 'control-label' -%>
        <%%= f.<%= attribute.field_type -%> :<%= attribute.name -%>, :class => 'form-control'<%= ", :checked => @#{singular_name}[:#{attribute.name}]" if attribute.field_type == :check_box %> -%>
      </div>

<%     end -%>
<%   end # switch attribute type -%>
<% end # attributes.each -%>
      <%%= render '/refinery/admin/form_actions', :f => f, <%= ':sidebar => true,' if include_live_editor? %>
                 :continue_editing => false,
                 :delete_title => t('delete', :scope => 'refinery.<%= namespacing.underscore %>.admin.<%= plural_name %>.<%= singular_name %>'),
                 :delete_confirmation => t('message', :scope => 'refinery.admin.delete'<%= delete_title %>) -%>
    <%% end # form_for -%>
  </div>
<% if include_live_editor? -%>
<%% end # content_for :admin_sidebar %>
<% else -%>
 </div>
</div>

<%% end # content_for :admin_content %>
<% end -%>
