<% title_attribute = (title = attributes.detect { |a| a.type.to_s == "string" }).present? ? title.name : 'title' -%>
<li class='page-listing' id="<%%= dom_id(<%= singular_name %>) -%>">
  <div class="page-row">
    <!-- <i class="icon icon-file"></i> -->
    <a class="page-title" href="<%%= refinery.<%= 'edit_' if !include_form? %><%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>) %>">
      <%%= <%= singular_name %>.<%= title_attribute %> %>
    </a>
    <span class='actions'>
<% if localized? -%>
      <%% if Refinery::I18n.frontend_locales.many? %>
        <span class='preview'>
          <%% <%= singular_name %>.translations.each do |translation| %>
            <%% if translation.<%= title_attribute %>.present? %>
              <%%= link_to refinery_icon_tag("flags/#{translation.locale}.png", :size => '16x11'),
                           refinery.edit_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>, :switch_locale => translation.locale),
                           :class => 'locale' %>
            <%% end %>
          <%% end %>
        </span>
      <%% end %>

<% end -%>
      <%%= render 'refinery/admin/glass/delete_button',
                 css_class: 'cancel confirm-delete circle-icon',
                 delete_url: refinery.<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>),
                 after_delete_url: refinery.<%= namespacing.underscore %>_admin_<%= plural_name %>_path,
                 confirm_text: 'Are you sure you want to delete this <%= singular_name.capitalize %>?',
                 delete_btn_text: '<i class="icon icon-trash"></i>'
      -%>

<% if include_form? -%>
      <%%= link_to '<i class="icon icon-edit"></i>'.html_safe, refinery.edit_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>),
          :title => t('.edit'),
          :class => "circle-icon" %>

      <% if include_moderation? %>
      <%%= link_to '<i class="icon icon-close"></i>'.html_safe,
        refinery.rejected_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>, :return_to => request.path.split('/').last.gsub(/^<%= plural_name %>$/, 'index')), class: 'circle-icon',
        :title => t('.reject') unless <%= singular_name %>.rejected? %>
      <%%= link_to '<i class="icon icon-check"></i>'.html_safe,
        refinery.approved_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>, :return_to => request.path.split('/').last.gsub(/^<%= plural_name %>$/, 'index')), class: 'circle-icon', :title => t('.approve') unless <%= singular_name %>.approved? %>
      <% end -%>

      <% if @includes_spam %>
      <%% if <%= singular_name %>.spam? %>
      <%%= link_to refinery_icon_tag('email.png'), refinery.toggle_spam_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>),
                  :title => t('.mark_as_ham') -%>
      <%% else %>
      <%%= link_to refinery_icon_tag('bin_closed.png'), refinery.toggle_spam_<%= namespacing.underscore %>_admin_<%= singular_name %>_path(<%= singular_name %>), :title => t('.mark_as_spam') -%>
      <%% end %>
      <% end -%>
<% elsif !skip_frontend? -%>
      <span class="preview">
        <%%= link_to '<i class="icon icon-screen"></i>'.html_safe, refinery.<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
            :title => t('.view_live_html'),
            :class => "circle-icon",
            :target => "_blank" %>
      </span>
<% end -%>
    </span>
  </div>
</li>
