<% if @resource.confirmed? %>
  <!-- Password Recovery Email -->
  <% content_for :email_title do %>
    Reset your <%= Refinery::Core.site_name %> password&nbsp;
  <% end %>

  <% content_for :email_body do %>
    <p>
      <%= t('reset_request_received_for', :scope => 'refinery.user_mailer.reset_notification', :username => @resource.username) %>
    </p>
    <p>
      <%= t('visit_this_url', :scope => 'refinery.user_mailer.reset_notification') %>:
    </p>
    <p>
      (<%= t('remain_same_if_no_action', :scope => 'refinery.user_mailer.reset_notification') %>)
    </p>
  <% end %>

  <% content_for :action_link do %>
    <%= link_to 'RESET YOUR PASSWORD', edit_password_url(@resource, reset_password_token: @token),
                :style => "padding: 15px; display: block; color: #ffffff; text-decoration: none; font-weight: bold;"
    %>
  <% end %>

<% else %>
  <!-- Invitation Email -->
  <% content_for :email_title do %>
    Welcome to <a href="<%= @site_url %>" target="_blank"><%= Refinery::Core.site_name %></a>!&nbsp;
  <% end %>

  <% content_for :email_body do %>
    <% inviting_user = @resource.inviting_user.present? ? @resource.inviting_user : 'someone' %>
    <% first_name    = @resource.name.split.map(&:capitalize)[0] %>

    <p>Hello <%= first_name %>,</p>
    <p>
      Guess what? <%= inviting_user.capitalize %> has invited you to join the <%= Refinery::Core.site_name %> website team. Hooray!
    </p>
    <p>
      We’ll guide you through the signup process. If you ever need to log into the Content Management System later (after you’ve set up your account), you may log into the CMS at <a href="<%= @admin_url %>" target="_blank"><%= @admin_url %></a>.
      If you're antsy to get going, we don't blame ya.
    </p>

  <% end %>

  <% content_for :action_link do %>
    <%= link_to 'LET’S GET STARTED!', edit_password_url(@resource, reset_password_token: @token),
                :style => 'padding: 15px; display: block; color: #ffffff; text-decoration: none; font-weight: bold;'
    %>
  <% end %>

  <% content_for :email_signoff do %>
    <p>With love,</p>
    <p>The <a href="<%= @site_url %>" target="_blank"><%= Refinery::Core.site_name.capitalize %></a> Team</p>

  <% end %>

  <% content_for :email_footer do %>

  <% end %>
<% end %>
<%= render 'refinery/email_template' %>
