<ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
  <% @images.each_with_index do |image, index| -%>
    <li id="image_<%= image.id %>" class='image_<%= index % 5 %>'>
      <%= image_fu image, '135x135#c', :title => image.title %>
      <span class='actions'>
        <%= link_to refinery_icon_tag('eye.png'), image.url,
                    :target => "_blank",
                    :title => t('.view_live_html') %>
        <%= link_to refinery_icon_tag('delete.png'),
                    refinery.admin_image_path(image),
                    :class => "cancel confirm-delete",
                    :title => t('delete', :scope => 'refinery.admin.images'),
                    :data => {
                      :confirm => t('message', :scope => 'refinery.admin.delete', :title => image.title)
                    },
                    :method => :delete %>
      </span>
    </li>
  <% end -%>
</ul>
