<%
  edit_url = refinery.edit_admin_image_path(image)
  delete_url = refinery.admin_image_path(image)
  delete_options = {
    class: 'confirm-delete',
    data: { confirm: t('message', scope: 'refinery.admin.delete', title: image.title) } }
%>
<li id="sortable_<%= image.id %>" class="clearfix record <%= cycle('on', 'on-hover') %>">
  <span class="title">
    <%= translated_field(image, :title) %>
  </span>
  <span class='locales'>
    <%= switch_locale(image, edit_url, :image_title).html_safe if Refinery::I18n.frontend_locales.many?  %>
  </span>

  <span class="preview"><%= image.image_name %></span>
  <span class="actions">

    <%= action_icon :preview, image.url, t('view_live_html', scope: 'refinery.admin.images') %>
    <%= action_icon :edit,    edit_url, t('edit', scope: 'refinery.admin.images') %>
    <%= action_icon :delete,  delete_url,  t('delete', scope: 'refinery.admin.images'),  delete_options  %>
  </span>
</li>
