<tr id="sortable_<%= list_view_image.id %>" class='record <%= cycle("on", "on-hover") %>'>
  <td>
    <%= image_fu list_view_image, '30x30#c', :title => list_view_image.title %>
  </td>
  <td>
    <%= list_view_image.title %> <span class="preview">&nbsp;</span>
  </td>
  <td>
    <%= link_to "Edit", main_app.edit_refinery_admin_image_path(list_view_image),
                :title => t('edit') %> |
    <%= link_to "Delete", main_app.refinery_admin_image_path(list_view_image),
                :class => "cancel confirm-delete",
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => list_view_image.title),
                :method => :delete %>
  </td>
</tr>