<% if searching? %>
  <%= link_to t('cancel_search', :scope => 'refinery.admin.search'), refinery.admin_images_path, :class => 'cancel-search' %>
  <h2><%= t('results_for_html', :scope => 'refinery.admin.search', :query => h(params[:search])).html_safe %></h2>
<% end %>
<div class="pagination_container">
  <% if @images.any? %>
    <%= render 'images' %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_images_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
