<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render partial: '/glass/head',        locals: {admin: false} %>
    <%= render partial: '/glass/stylesheets', locals: {admin: false} %>
  </head>

  <%= render partial: 'refinery/custom_layout', locals: {admin: false} %>

  <body class="<%= yield :body_class %>">
    <%= yield :body_top %>
    <%= render partial: '/glass/body',        locals: {admin: false} %>
    <%= render partial: '/glass/javascripts', locals: {admin: false} %>
    <%= yield :body_bottom %>
  </body>
</html>
