<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header" role="banner">
        <%= render "/refinery/header" -%>
      </header>
      <main id="page" role="main">
        <%= yield %>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
  </body>
</html>
