<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render partial: '/glass/head',        locals: {admin: false} %>
    <%= render partial: '/glass/stylesheets', locals: {admin: false} %>
  </head>
  <body class="<%= yield :body_class %>">
    <%= render partial: '/glass/body',        locals: {admin: false} %>
    <%= render partial: '/glass/javascripts', locals: {admin: false} %>
  </body>
</html>
