<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>
  <body>
    <%= render :partial => "/shared/site_bar" %>
    <div id="header">
      <div class="inside">
        <h2>
          <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_url %>
        </h2>
        <p class="description">
          <%= link_to "Home", root_url %>
        </p>
      </div>
    </div>
    <div id='primary'>
      <div class='inside clearfix'>
        <%= yield %>
      </div>
    </div>
    <div id="ancillary">
      <div class="inside">
        <div class="block first" style='margin: 0;'>

        </div>
        <div class="block pages">
          <h2>
            Pages
          </h2>
          <%= render :partial => 'shared/menu' %>
          <div class="clear"></div>
        </div>
      </div>
      <hr class="hide" />
      <div id="footer">
        <div class="inside">
          <p style='clear: both; text-align: center;'>
             Copyright &copy; <%= Time.now.year %>
             <%= RefinerySetting.find_or_set(:site_name, "Company Name") %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
