<%% content_for :body_content_title do %>
  <%%= @<%= singular_name %><% if (title = attributes.detect { |a| a.type.to_s == "string" }).present? %>.<%= title.name %><% else %>.title<% end %> %>
<%% end %>

<section id="cover" style="height: 200px">
</section>

<section id="<%= singular_name %>">
  <div class="container">
    <div class="row">
      <div class="sidebar col-sm-4 col-md-3">
        <ul id="page-sub-nav" class="list-unstyled">
          <%% ::Refinery::<%= namespacing %>::<%= class_name %>.get_all.each do |<%= singular_name %>| %>
            <li><%%= link_to <%= singular_name %><% if (title = attributes.detect { |a| a.type.to_s == "string" }).present? %>.<%= title.name %><% else %>.title<% end %>, refinery.<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>) %></li>
          <%% end %>
        </ul>
      </div>
      <div class="col-sm-8 col-md-9">
<% attributes.each do |attribute| -%>
<% if attribute.type.to_s == 'image' -%>
        <h4><%= attribute.name.titleize %></h4>
        <p>
          <%%= image_fu @<%= singular_name %>.<%= attribute.name %>, '300x200' %>
        </p>
<% elsif attribute.type.to_s == 'resource' -%>
        <h4><%= attribute.name.titleize %></h4>
        <p>
          <%% if @<%= singular_name %>.<%= attribute.name %>.present? %>
            <%%= link_to <%= "'#{attribute.name}'" %>, @<%= singular_name %>.<%= attribute.name %>.url %>
          <%% else %>
            <%= attribute.name %>
          <%% end %>
        </p>
<%
  elsif attribute.type.to_s == 'string'
    live_editor_options = include_live_editor? ? "  class=\"glass-edit\"                 data-glass-options=\'{\"form_id\": \"#{singular_name}_#{attribute.name}\"}\' glass-placeholder=\"#{attribute.name.titleize}\"" : ""
-%>
        <h1<%= live_editor_options %>><%%= @<%= singular_name %>.<%= attribute.name %> %></h1>
<% elsif attribute.field_type.to_s == 'text_area' and include_live_editor? -%>
        <div class="glass-edit glass-edit-html" data-glass-options='{"form_id": "<%= singular_name %>_<%= attribute.name %>", "type": "html"}'>
          <%%= raw @<%= singular_name %>.<%= attribute.name %>.present? ? @<%= singular_name %>.<%= attribute.name %> : '<p><br></p>' %>
        </div>
<% else -%>
        <%%=raw @<%= singular_name %>.<%= attribute.name %> %>
<% end -%>
<% end -%>
      </div>
    </div>
  </div>
</section>
