<div id='actions'>
  <ul>
    <li>
      <%= render :partial => "/shared/admin/search", :locals => {:url => admin_pages_url} %>
    </li>
    <li>
      <%= link_to t('.create_new_page'), new_admin_page_url, :class => "add_icon" %>
    </li>
  <% if Page.count > 1 and not searching? %>
    <li>
      <%= link_to t('.reorder_pages'), admin_pages_url, :id => "reorder_action", :class => "reorder_icon" %>
      <%= link_to t('.reorder_pages_done'), admin_pages_url, :id => "reorder_action_done", :style => "display: none;", :class => "reorder_icon" %>
    </li>
  <% end %>
  </ul>
</div>
<div id='records' class='tree'>
  <% if searching? %>
    <h2><%= t('admin.search_results_for', :query => h(params[:search])) %></h2>
    <% if @pages.any? %>
      <%= render :partial => "sortable_list" %>
    <% else %>
      <p><%= t('admin.search_no_results') %></p>
    <% end %>
  <% else %>
    <% if @pages.any? %>
      <%= render :partial => "sortable_list" %>
    <% else %>
      <p>
        <strong><%=t('.no_pages_yet')%></strong>
      </p>
    <% end %>
  <% end %>
</div>
<%= render :partial => "/shared/admin/make_sortable", :locals => {:tree => true} if Page.count > 1 %>
