<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <% if manual = ::Refinery::Manual.find_by_id(1) %>
      <div class="manual">
        <%= link_to image_tag('refinery/icons/info.png') + "<p>".html_safe + manual[:title] + "</p>".html_safe,
            "/eproduct/refinery/manuals/1", :method => :post, :target => "_blank" %>
      </div>
    <% end %>
    <header>
      <%= render 'refinery/admin/menu' %>
    </header>
    <div id="page_container">
      <div id="page">
        <div id="content" class="clearfix">
          <div id="flash_container">
            <%= render '/refinery/no_script' %>
            <%= render '/refinery/message' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
