<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, tag(:meta, name: 'refinerycms', content: Refinery.version) %>
  <%= render 'refinery/admin/head' %>
  <body id="admin" class="<%= action_name %> <%= I18n.locale %>">
    <div id='tooltip_container'></div>
    <header id="header" role="banner">
      <%= render '/refinery/site_bar' %>
    </header>
    <aside id="main-menu">
      <%= render 'refinery/admin/menu' %>
    </aside>
    <main id="page_container" role="main">
      <div id="page">
        <h1><%= current_plugin_title %></h1>
        <div id="content" class="clearfix">
          <div id="flash_container">
            <%= render '/refinery/no_script' %>
            <%= render '/refinery/message' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
