<!DOCTYPE html>
<%= render :partial => "/refinery/html_tag" %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render :partial => "refinery/admin/head" %>
  <body class='<%= action_name %> <%= I18n.locale %>'>
    <%= render :partial => '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <header>
      <%= render :partial => "refinery/admin/menu" %>
    </header>
    <div id="page_container">
      <div id="page">
        <div id="content" class="clearfix">
          <div id="flash_container">
            <%= render :partial => '/refinery/no_script' %>
            <%= render :partial => "/refinery/message" %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => "refinery/admin/javascripts" %>
  </body>
</html>
