<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% if @dialog_successful ||= params[:dialog_successful] %>
    <%= render '/refinery/admin/dialog_success' %>
  <% else %>
    <%= render '/refinery/admin/head' %>
    <body id='dialog_container' class='dialog <%= I18n.locale %><%= ' visual_editor_iframe_body' if params[:visual_editor].presence %>'>
      <div id='tooltip_container'></div>
      <div id='content' class='clearfix'>
        <%= yield %>
      </div>
    </body>
  <% end %>
</html>
