<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render partial: '/glass/head',        locals: {admin: true} %>
    <%= render partial: '/glass/stylesheets', locals: {admin: true} %>
  </head>
  <body class='login <%= I18n.locale %> '>

    <%= render 'glass/browser_update' %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="flash_container margin-bottom-md">
            <%= render '/refinery/message' %>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <div class="text-center margin-bottom-md">
            <h2>Refinery CMS</h2>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>


    <%= render partial: '/glass/javascripts', locals: {admin: false} %>
    <%= render 'glass/browser_javascripts' %>

  </body>
</html>
