<%%= render 'submenu' %>
<div id='records'>
  <%% if searching? %>
    <%%= link_to t('cancel_search', :scope => 'refinery.admin.search'), refinery.<%= namespacing.underscore %>_admin_<%= plural_name %>_path, :class => "cancel-search" %>
    <h2><%%= t('results_for_html', :scope => 'refinery.admin.search', :query => h(params[:search])).html_safe %></h2>
    <%% if @<%= plural_name %>.any? %>
      <ul>
        <%%= render :partial => '<%= singular_name %>', :collection => @<%= plural_name %> %>
      </ul>
    <%% else %>
      <p><%%= t('no_results', :scope => 'refinery.admin.search') %></p>
    <%% end %>
  <%% else %>
    <%% if @grouped_<%= plural_name %>.any? -%>
      <%% @grouped_<%= plural_name %>.each do |container| %>
        <h3><%%= l((<%= singular_name %>_group = container.last).first.created_at) %></h3>
        <ul>
          <%%= render :partial => '<%= singular_name %>', :collection => <%= singular_name %>_group %>
        </ul>
      <%% end %>
    <%% else -%>
      <p>
        <strong><%%= t('.no_spam') %></strong>
      </p>
    <%% end -%>
  <%% end %>
</div>
