<ul>
  <% if ::Refinery::Plugins.active.names.include?("refinery_pages") %>
    <li>
      <%= link_to t('.add_a_new_page'),
                  refinery.new_admin_page_path,
                  :class => "add_icon" %>
    </li>
    <li>
      <%= link_to t('.update_a_page'),
                  refinery.admin_pages_path,
                  :class => "edit_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_files") %>
    <li>
      <%= link_to t('.upload_a_file'),
                  refinery.new_admin_resource_path(:dialog => true,
                                         :width => 600,
                                         :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_images") %>
    <li>
      <%= link_to t('.upload_a_image'),
                  refinery.new_admin_image_path(:dialog => true,
                                      :width => 600,
                                      :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <%= render 'additional_dashboard_menu_items' %>
</ul>

<% if ::Refinery.i18n_enabled? %>
  <% locales = Refinery::I18n.locales.clone %>
  <% current_locale = ::I18n.locale %>
  <% current_locale_title = locales.delete(current_locale) %>
  <ul id='current_locale'>
    <li>
      <%= link_to "#", :style => "background-image: url('/assets/refinery/icons/flags/#{current_locale}.png');" do %>
        <%= current_locale_title.respond_to?(:force_encoding) ? current_locale_title.force_encoding('utf-8') : current_locale_title %>
        <span><%= t('.change_language') %></span>
        <span style='display:none;'><%= t('cancel', :scope => 'refinery.admin.form_actions') %></span>
      <% end %>
    </li>
  </ul>
  <ul id='other_locales' style='display: none'>
    <% locales.sort_by{|key, value| value}.each do |locale, locale_title| %>
      <li>
        <%= link_to locale_title.respond_to?(:force_encoding) ? locale_title.force_encoding('utf-8') : locale_title,
                    refinery.admin_dashboard_path(:set_locale => locale),
                    :style => "background-image: url('/assets/refinery/icons/flags/#{locale}.png');" %>
      </li>
    <% end %>
  </ul>
<% end %>
