<ul class='clearfix'>
  <% if ::Refinery::Plugins.active.names.include?("refinery_pages") %>
    <li>
      <%= link_to t('.add_a_new_page'),
                  main_app.new_refinery_admin_page_path,
                  :class => "add_icon" %>
    </li>
    <li>
      <%= link_to t('.update_a_page'),
                  main_app.refinery_admin_pages_path,
                  :class => "edit_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_files") %>
    <li>
      <%= link_to t('.upload_a_file'),
                  main_app.new_refinery_admin_resource_path(:dialog => true,
                                         :width => 600,
                                         :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_images") %>
    <li>
      <%= link_to t('.upload_a_image'),
                  main_app.new_refinery_admin_image_path(:dialog => true,
                                      :width => 600,
                                      :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <%= render :partial => 'additional_dashboard_menu_items' %>
</ul>
