<%= form_for [main_app, :refinery_admin, @page],
             :url => (main_app.refinery_admin_page_path(@page.uncached_nested_url) if @page.persisted?) do |f| %>

  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => @page,
               :include_object_name => true
             } %>

  <%= render :partial => "locale_picker",
             :locals => {
               :current_locale => Thread.current[:globalize_locale]
             } if ::Refinery.i18n_enabled? %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <%= render :partial => "form_fields_after_title",
             :locals => {
               :f => f
             } %>

  <div class='field'>
    <%= render :partial => "form_page_parts",
               :locals => {
                 :f => f
               } %>
  </div>

  <%= render :partial => "form_advanced_options",
             :locals => {
                :f => f
              } %>

  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('delete', :scope => 'refinery.admin.pages'),
               :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @page.title)
             } %>

  <%= render :partial => "form_new_page_parts",
             :locals => {
               :f => f
             } if Refinery::Pages.new_page_parts %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(
        <%= Refinery::Pages.new_page_parts.to_s %>
        , "<%= main_app.new_refinery_admin_page_part_path %>"
        , "<%= main_app.refinery_admin_page_parts_path %>"
      );
    });
  </script>
<% end %>
