<div class="sidebar-section">
  <button id="toggle_advanced_options" type="button" class="collapse-toggle collapsed" data-toggle="collapse" data-target="#advanced_options" aria-expanded="true" aria-controls="demo">
    <div class="sidebar-section-heading">
      <i class="icon icon-sliders"></i> <span class="flex-1">Advanced Settings</span> <i class="icon icon-down"></i>
    </div>
  </button>

  <div id="advanced_options" class="collapse">
    <div class="sidebar-section-body">
      <%= f.label      :link_url, t('.link_url'), :title => t('.link_url_help') %>
      <%= f.text_field :link_url, :class => 'form-control form-control-lg' %>

      <% content_for :javascripts do %>
        <script>
          $(document).ready(function(){
            link_tester.validate_url_textbox("#page_link_url")
          });
        </script>
      <% end %>

      <%= f.label :skip_to_first_child, :title => t('.skip_to_first_child_help') do %>
        <%= f.check_box :skip_to_first_child %>
        <%= t('.skip_to_first_child_label') %>
      <% end %>
    </div>

    <div class="sidebar-section-body">
      <%= f.label  :parent_id, t('.parent_page'), :title => t('.parent_page_help') %>
      <%= f.select :parent_id, parent_id_nested_set_options(@page), {:include_blank => true}, {class: 'form-control c-select'} %>
    </div>

    <% if Refinery::Pages.use_layout_templates %>
      <div class="sidebar-section-body">
        <div class='form-group'>
          <%= f.label  :layout_template, t('.layout_template'), :title => t('.layout_template_help') %>
          <%= f.select :layout_template, @valid_layout_templates,
                       template_options(:layout_template, @page), {class: 'form-control c-select'} %>
        </div>
      </div>
    <% end %>

    <div class="sidebar-section-body">
      <%= f.label :menu_title, t('.menu_title'), :title => t('.menu_title_help') %>
      <%= f.text_field :menu_title, :class => 'form-control form-control-lg' %>

      <%= f.label :show_in_menu, :class => "stripped", :title => t('.show_in_menu_help') do %>
        <%= f.check_box :show_in_menu %>
        <%= t('.show_in_menu_description') %>
      <% end %>
    </div>

    <%= yield :extra_fields_for_more_options %>
  </div>
</div>
