<% if ::Refinery::Pages.new_page_parts %>
  <ul id="page_parts_controls">
    <li>
      <%= link_to refinery_icon_tag('arrow_switch.png'), '#',
                  :id => 'reorder_page_part',
                  :title => t('.reorder_content_section') %>
      <%= link_to refinery_icon_tag('tick.png'), "",
                  :id => 'reorder_page_part_done',
                  :title => t('.reorder_content_section_done'),
                  :style => "display: none;" %>
    </li>
    <li>
      <%= link_to refinery_icon_tag('add.png'), '#',
                  :id => 'add_page_part',
                  :title => t('.create_content_section') %>
    </li>
    <li>
      <%= link_to refinery_icon_tag('delete.png'), '#',
                  :title => t('.delete_content_section'),
                  :class => 'delete_page_part',
                  :name => t('.delete_content_section'),
                  :id => 'delete_page_part' %>
    </li>
    <li>
  </ul>
<% end %>
<div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
  <ul id='page_parts'>
    <% @page.parts.each_with_index do |part, part_index| %>
      <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>' data-index='<%= part_index %>'>
        <%= link_to part.title, "##{@page.persisted? ? part.to_param : "page_part_new_#{part_index}"}" %>
      </li>
    <% end %>
    <% ::Refinery::Pages.tabs.each_with_index do |tab, tab_index| %>
      <li class='ui-state-default' id="custom_<%= tab.name %>_tab">
        <%= link_to tab.name.titleize, "#custom_tab_#{tab_index}" %>
      </li>
    <% end %>
  </ul>

  <div id='page_part_editors'>
    <% part_index = -1 %>
    <%= f.fields_for :parts do |p| %>
      <%= render 'page_part_field',
                 :part => p.object,
                 :part_index => (part_index += 1),
                 :new_part => @page.new_record? -%>
    <% end %>
    <% ::Refinery::Pages.tabs.each_with_index do |tab, tab_index| %>
      <div class='page_part' id='<%= "custom_tab_#{tab_index}" %>'>
        <%= render tab.partial, :f => f %>
      </div>
    <% end %>
  </div>
</div>
