<%#= render '/refinery/admin/form_advanced_options_menu', :f => f %>

<div class="sidebar-section">
  <button id="toggle_advanced_options" type="button" class="collapse-toggle collapsed" data-toggle="collapse" data-target="#advanced_options" aria-expanded="true" aria-controls="demo">
    <div class="sidebar-section-heading">
      <i class="icon icon-sliders"></i> <span class="flex-1">Advanced Settings</span> <i class="icon icon-down"></i>
    </div>
  </button>
  <div id="advanced_options" class="collapse">
    <div class="sidebar-section-body">

      <div class='form-group'>
        <%= f.check_box :skip_to_first_child %>
        <span class='label_with_help'>
          <%= f.label :skip_to_first_child, t('.skip_to_first_child_label'), :class => "stripped" %>
          <%= refinery_help_tag t('.skip_to_first_child_help') %>
        </span>
      </div>

      <div class='form-group'>
        <span class='label_with_help'>
          <%= f.label :link_url, t('.link_url') %>
          <%= refinery_help_tag t('.link_url_help') %>
        </span>
        <%= f.text_field :link_url, :class => 'form-control input-lg' %>

        <% content_for :javascripts do %>
        <script>
          $(document).ready(function(){
            link_tester.validate_url_textbox("#page_link_url")
          });
        </script>
        <% end %>
      </div>

      <div class='form-group'>
        <span class='label_with_help'>
          <%= f.label :parent_id, t('.parent_page') %>
          <%= refinery_help_tag t('.parent_page_help') %>
        </span>
        <div class="dropdown-wrapper">
          <%= f.select :parent_id, parent_id_nested_set_options(@page), :include_blank => true %>
        </div>
      </div>

      <% if Refinery::Pages.use_layout_templates %>
        <div class='form-group'>
          <span class='label_with_help'>
            <%= f.label :layout_template, t('.layout_template') %>
            <%= refinery_help_tag t('.layout_template_help') %>
          </span>
          <div class="dropdown-wrapper">
            <%= f.select :layout_template, @valid_layout_templates,
                         template_options(:layout_template, @page) %>
          </div>
        </div>
      <% end %>

      <div class='form-group'>
        <span class='label_with_help'>
          <%= f.label :menu_title, t('.menu_title') %>
          <%= refinery_help_tag t('.menu_title_help') %>
        </span>
        <%= f.text_field :menu_title, :class => 'form-control input-lg' %>
      </div>

      <div class='form-group'>
        <%= f.check_box :show_in_menu %>
        <span class='label_with_help'>
          <%= f.label :show_in_menu, t('.show_in_menu_description'), :class => "stripped" %>
          <%= refinery_help_tag t('.show_in_menu_help') %>
        </span>
      </div>

    </div>

    <%= render 'form_extra_fields_for_more_options', :f => f %>
  </div>
</div>
