<%= form_for [refinery, :admin, @page],
             :url => (refinery.admin_page_path(@page.uncached_nested_url) if @page.persisted?) do |f| %>

  <%= render '/refinery/admin/error_messages', :object => @page, :include_object_name => true %>

  <%= render 'locale_picker', :current_locale => Thread.current[:globalize_locale] if Refinery.i18n_enabled? %>
  <div class="field">
  	<%= f.check_box :group, :class=>"smaller"%>
  	<span class="label_with_help" style="display:inline;">
    	<%= f.label :group, :class=>"stripped" %>
    	<%= refinery_help_tag t('admin.pages.toggle_group_help')%>
   	</span>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>
  <div class="field">
	<%= f.label :subtitle %>
	<%= f.text_field :subtitle, :class => "larger widest" %>
  </div>
  <%= render 'form_fields_after_title', :f => f %>

  <div class='field'>
    <%= render 'form_page_parts', :f => f %>
  </div>
	
  <%= render 'form_advanced_options', :f => f %>
  
  <%= render 'form_header_options', :f => f%>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.admin.pages'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @page.title),
             :before_cancel_button => submit_tag(
               t('.preview'),
               :id => 'preview-button',
               :title => 'Preview page',
               :name => nil,
               :class => "wymupdate button page_fields",
               :tooltip => t('.preview_changes')
             ) %>

  <%= render 'form_new_page_parts', :f => f if Refinery::Pages.new_page_parts %>
<% end %>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(
        <%= Refinery::Pages.new_page_parts.to_s %>
        , "<%= refinery.new_admin_page_part_path %>"
        , "<%= refinery.admin_page_parts_path %>"
      );
	  //Hide unneeded fields based on the group attribute.
	  <%=@page.root? ? '' : "$('.root_only').hide();"%>
	  
      $("#preview-button").click(function(e) {
        var form = $(this).parents('form')
        var prev_url = form.attr('action');
        var prev_target = form.attr('target');
        form.attr({
          'action': ''
          , 'target': '_blank'
        });
        form.attr({
          'action': prev_url
          , 'target': prev_target
        });
        e.preventDefault();
      });
      $("#toggle_header_options").click(function(e) {
        $('#header_options').toggle();	
        e.preventDefault();
      });
      $('#page_parent_id').change(function(e){
      	if (this.vlaue != null || this.value != ""){ $(".root_only").hide(); }
      	else{ $(".root_only").show(); }
      });
      
      $("#page_group").click(function(e) {
      	if (this.checked == true) {
          $(".page_fields").hide();
         }
        else{
          $(".page_fields").show();
        }
        
      });
    });
  </script>
<% end %>