<% # setup params for various action links
   add_url = refinery.new_admin_page_path(parent_id: page.id)

   edit_url = refinery.admin_edit_page_path(page.nested_url)
   translated_locales = locales_with_titles(page, 'title', include_current: true)

   delete_url = refinery.admin_delete_page_path(page.nested_url)
   delete_options = {
     class: "cancel confirm-delete",
     data: { confirm: t('message', scope: 'refinery.admin.delete', title: translated_field(page, :title)) }
   }
   dom_id = dom_id(page)
   i18n_scope = 'refinery.admin.pages'
   record_classes = [:record, :page].join(' ')
%>

<li class='<%= record_classes %>' id='<%= dom_id %>' >
  <div class='item'>
    <%= page_icon(page.children.size) %>
    <%= link_to translated_field(page, :title), edit_url, class: [:title, :edit], title: t('edit', scope: i18n_scope) %>
    <span>
      <%= page_meta_information page %>
    </span>

    <span class='locales'>
      <% translated_locales.each do |locale| %>

       <% hint = ::I18n.with_locale(locale) do
         I18n.t('.edit_title_locale',
                          title: translated_field(page, :title),
                          language: locale_language(locale),
                          scope: ".refinery.admin.locale_picker")
         end
       %>
        <%= edit_in_locale locale, url: edit_url, title: hint %>
      <% end %>
    </span>

    <span class='actions'>
      <%= action_icon(:preview, page.url, t('.view_live_html')) %>
      <%= action_icon(:add, add_url, t('new', scope: i18n_scope)) %>
      <%= action_icon(:edit, edit_url, t('edit', scope: i18n_scope)) %>
      <%= action_icon(:delete, delete_url, t('delete', scope: i18n_scope), delete_options) if page.deletable? %>
    </span>
  </div>

  <%= content_tag :ul, class: 'nested', data: { 'ajax-content': refinery.admin_children_pages_path(page.nested_url) } do %>
    <%= render(partial: 'page', collection: page.children, cached: ->(child_page) { child_page.self_and_descendants.to_a }) if Refinery::Pages.auto_expand_admin_tree %>
  <% end %>
</li>
