<li class='clearfix record icons <%= "active" if @page && @page == page_show -%>' id="<%= dom_id(page_show) -%>">
  <div class='item clearfix'>
    <% if page_show.children.present? %>
      <span class="icon toggle <%= 'expanded' if Refinery::Pages.auto_expand_admin_tree %>" title="<%= t('expand_collapse', :scope => 'refinery.admin.pages') %>"></span>
    <% else %>
      <span class="icon"></span>
    <% end %>

    <span class='title <%= 'toggle' if page_show.children.present? %>'>
      <%= page_title_with_translations page_show %>
      <%= page_meta_information page_show %>
    </span>
    <% if Refinery::I18n.frontend_locales.many? %>
      <span class='locales'>
        <% page_show.translations.sort_by{|t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
          <%= link_to refinery_icon_tag("flags/#{translation.locale}.png", :size => '16x11'),
                      refinery.edit_admin_page_path(page_show.nested_url, :switch_locale => translation.locale),
                      :class => 'locale' if translation.title.present? %>
        <% end %>
      </span>
    <% end %>

    <span class='actions'>
      <%= link_to refinery_icon_tag('application_edit.png'),
                  refinery.edit_admin_page_path(page_show.nested_url, :switch_locale => (page_show.translations.first.locale unless page_show.translated_to_default_locale?)),
                  :title => t('edit', :scope => 'refinery.admin.pages') %>
    </span>
  </div>
  <ul class='nested' data-ajax-content="<%= refinery.admin_children_pages_path(page_show.nested_url) %>">
    <%= render(:partial => 'page_show', :collection => page_show.children) if Refinery::Pages.auto_expand_admin_tree %>
  </ul>
</li>
