<%= render :partial => "/refinery/admin/search", :locals => {:url => main_app.refinery_admin_pages_path} %>
<h2>
  <% if searching? %>
    <%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %>
  <% else %>
    Pages
  <% end %>
</h2>
<% if @pages.any? %>
  <%= render :partial => 'sortable_list' %>
<% else %>
  <p>
    <% unless searching? %>
      <strong><%=t('.no_pages_yet')%></strong>
    <% else %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% end %>
  </p>
<% end %>
