<%
  unless (hide_submit ||= false)
    submit_button_text  ||= t('.save')
    submit_button_id    ||= "submit_button"
    submit_button_title ||= nil
    begin
    submit_redirect_url ||= eval("refinery.#{Refinery.route_for_model(f.object.class, {:plural => true})}")
    rescue Exception => e
      logger.warn e
    end
  end

  hide_cancel = from_dialog? unless defined?(hide_cancel).presence

  unless hide_cancel
    cancel_button_text  ||= t('.cancel')
    unless defined?(cancel_title)
      cancel_title = t('.cancel_lose_changes')
    end
    cancel_button_id    ||= "cancel_button"
    cancel_url          ||= (((back = url_for(:back)).include?('javascript') or action_name =~ /^(create|update)$/) ? refinery.send(Refinery.route_for_model(f.object.class, :plural => true)) : back)
  end

  continue_editing = defined?(continue_editing) ? continue_editing : (f.object.present? and f.object.persisted?)

  unless defined?(hide_delete).presence
    hide_delete = (from_dialog? or
                   f.object.nil? or (f.object.respond_to?(:persisted?) ? !f.object.persisted? : f.object.new_record?) or
                   (f.object.respond_to?(:deletable?) && !f.object.deletable?))
  end

  unless hide_delete
    delete_button_text  ||= t('.delete')
    delete_title        ||= nil
    delete_confirmation ||= "Are you sure you want to delete this item?"
    delete_button_id    ||= "delete_button"
    # we have to use eval rather than refinery.send because this url may not exist for HTTP GET
    delete_url          ||= eval("refinery.#{Refinery.route_for_model(f.object.class)}(#{f.object.id})")
    delete_redirect_url ||= eval("refinery.#{Refinery.route_for_model(f.object.class, {:plural => true})}")
  end
-%>
<% if from_dialog? %>
<input type='hidden' name='modal' value='true' />
<input type='hidden' name='dialog' value='true' />
<% end %>

<% in_sidebar = defined?(sidebar) ? sidebar : false  %>
<!--
<div class="deliver row">
  <div class="pull-left">
    <a href="" class="circle-icon"><i class="gcicon gcicon-screen bump-down"></i></a>
  </div>
  <div class="pull-right">
    <a href="" class="circle-icon save-page"><i class="gcicon gcicon-save"></i></a>
    <a href="" class="circle-icon fluid-width publish-page"><i class="gcicon gcicon-publish"></i> <span>Publish</span></a>
    <%= button_tag "<i class='gcicon gcicon-save'></i> <span>#{submit_button_text}</span>".html_safe,
                   :type => :submit,
                   :id => submit_button_id,
                   :name => nil,
                   :class => "circle-icon fluid-width save-page",
                   :tooltip => submit_button_title unless hide_submit %>
  </div>
</div>

<a href="" class="delete"><i class="gcicon gcicon-trash"></i> Delete</a>
-->

<div class='form-actions<%= ' sidebar-section no-border margin-top-sm' if in_sidebar %><%= ' form-actions-dialog' if from_dialog? %>'>
  <div class='<%= in_sidebar ? "sidebar-section-body" : "form-actions-left" %>'>
    <%= button_tag "#{'<i class="gcicon gcicon-publish"></i>' if in_sidebar} <span>#{submit_button_text}</span>".html_safe,
                   :type => :submit,
                   :id => submit_button_id,
                   :name => nil,
                   :class => "btn btn-primary btn-lg",
                   :'data-redirect-url' => defined?(submit_redirect_url) ? "#{submit_redirect_url}" : nil,
                   :tooltip => submit_button_title unless hide_submit %>

    <%= hidden_field_tag :continue_editing, false if continue_editing %>

<!--
    FIXME: I don't know what these local_assigns is doing... it is bringing in the "preview" button so removing it for now (SS)
    <%= local_assigns[:before_cancel_button] -%>

    <%= link_to(cancel_button_text, cancel_url,
                :title => cancel_title,
                :id => cancel_button_id,
                :class => "btn btn-default") unless hide_cancel %>
-->

<!--     <%= local_assigns[:after_cancel_button] -%> -->
    <%= local_assigns[:before_delete_button] -%>
    <%= button_tag("<i class='gcicon gcicon-trash'></i> <span>#{delete_button_text}</span>".html_safe,
        :type                => :button,
        :'data-url'          => delete_url,
        :'data-redirect-url' => delete_redirect_url,
        :'data-text'         => delete_confirmation,
        :title               => delete_title,
        :id                  => delete_button_id,
        :class               => "btn btn-link-red btn-lg delete-modal") unless hide_delete %>
    <%= local_assigns[:after_delete_button] -%>
  </div>
</div>
