<head>
  <meta charset='<%= ::Refinery::Application.config.encoding %>' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= yield :meta %>
  <title><%= RefinerySetting.find_or_set(:site_name, 'Company Name') -%> - Refinery</title>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'refinery/site_bar',
                          'refinery/refinery',
                          'refinery/ui',
                          'refinery/submenu',
                          'refinery/tooltips',
                          'wymeditor/skins/refinery/skin',
                          :cache => ("cache/refinery" if Rails.root.writable? and
                                                         RefinerySetting.find_or_set(:use_resource_caching, true) and
                                                         request.env['HTTP_USER_AGENT'] !~ /MSIE/) -%>

  <%= yield :stylesheets %>

  <%= javascript_include_tag 'modernizr-min' %>
</head>
