<div class='clearfix'>
  <div id='records' class='clearfix<%= ' one_list' if @recent_activity.empty? or @recent_inquiries.empty? %>'>
    <%= render :partial => "recent_activity" if @recent_activity.any? %>
    <%= render :partial => "recent_inquiries" if @recent_inquiries.any? %>
  </div>
  <div id='actions'>
    <h2><%= t('.quick_tasks').titleize %></h2>
    <ul>
      <% if Refinery::Plugins.active.names.include?("refinery_pages") %>
        <li>
          <%= link_to t('.add_a_new_page'),
                      new_admin_page_url(:only_path => true),
                      :class => "add_icon" %>
        </li>
        <li>
          <%= link_to t('.update_a_page'),
                      admin_pages_url(:only_path => true),
                      :class => "edit_icon" %>
        </li>
      <% end %>
      <% if Refinery::Plugins.active.names.include?("refinery_files") %>
        <li>
          <%= link_to t('.upload_a_file'),
                      new_admin_resource_url(:dialog => true,
                                             :width => 600,
                                             :height => 300,
                                             :only_path => true),
                      :class => "add_icon" %>
        </li>
      <% end %>
      <% if Refinery::Plugins.active.names.include?("refinery_images") %>
        <li>
          <%= link_to t('.upload_a_image'),
                      new_admin_image_url(:dialog => true,
                                          :width => 600,
                                          :height => 300,
                                          :only_path => true),
                      :class => "add_icon" %>
        </li>
      <% end %>
      <li>
        <%= link_to t('.see_home_page'), root_url,
                    :class => "go_icon",
                    :target => "_blank" %>
      </li>
    </ul>

    <% if Refinery::I18n.enabled? %>
      <% current_locale = ::Refinery::I18n.locales.detect{|key, value| key.to_sym == ::I18n.locale} -%>
      <ul id='current_locale'>
        <li>
          <%= link_to "#{current_locale.last} <span>#{t('.change_language')}</span><span style='display:none;'>#{t('shared.admin.form_actions.cancel')}</span>".html_safe,
                      "#",
                      :style => "background-image: url('/images/refinery/icons/flags/#{current_locale.first}.png');" %>
        </li>
      </ul>
      <ul id='other_locales' style='display: none'>
        <% Refinery::I18n.locales.reject{|key, value| key.to_sym == ::I18n.locale}.sort_by{|key, value| value}.each do |locale_key, locale_title| %>
          <li>
            <%= link_to locale_title,
                        params.dup.tap { |p| p[:set_locale] = locale_key },
                        :style => "background-image: url('/images/refinery/icons/flags/#{locale_key}.png');" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<% if request.env["HTTP_USER_AGENT"] =~ /MSIE/ and
        RefinerySetting.find_or_set(:show_internet_explorer_upgrade_message, true, :scoping => 'refinery') %>
  <% flash.now[:message] = render(:partial => "/shared/ie6check")  %>
<% end %>
