<% content_for :header, t('.hello_please_sign_in') %>

<%= form_for resource, :as => resource_name,
                       :url => refinery.refinery_user_session_path do |f| %>
  <div class='field session_username clearfix'>
    <%= f.label :login %>
    <%= f.text_field :login, :class => 'larger widest' %>
  </div>
  <div class='field session_password clearfix'>
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => 'off', :class => 'larger widest' %>
  </div>
  <div class='clearfix'>
    <% if devise_mapping.rememberable? %>
      <div class='field remember_me'>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class='field forgot_password'>
      <%= link_to t('.forgot_password'), refinery.new_refinery_user_password_path %>
    </div>
  </div>
  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => f,
               :submit_button_text => t('.sign_in'),
               :hide_cancel => true
             } %>
<% end -%>
