<tr class='record <%= cycle("on", "on-hover") %>'>
  <td class='title'>
    <%= t(setting.name, :default => setting.title) %>
    
  </td>
  <td class='preview'>
    <%= truncate(setting.value.to_s, :length => 40) %>
  </td>
  <td class='actions'>
    <%= link_to "Edit",
                main_app.edit_refinery_admin_setting_path(setting, :dialog => true, :width => 725, :height => 525),
                :title => t('edit', :scope => 'refinery.admin.settings') %>
    |
    <% unless (help = t(setting.name, :scope => 'refinery.admin.settings.form.help', :default => '')).blank? %>
      <%= link_to "Info", '#',
                  :tooltip => help,
                  :class => 'information suppress' %>
    <% end %>
  </td>
</tr>
