<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= t(setting.name, :scope => 'refinery.admin.settings.form.title', :default => setting.title) %>
    <span class="preview">- <%= truncate(setting.value.to_s, :length => 40) %></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('application_edit.png'),
                refinery.edit_admin_setting_path(setting, :dialog => true, :width => 725, :height => 525),
                :title => t('edit', :scope => 'refinery.admin.settings') %>
    <%= link_to refinery_icon_tag('delete.png'),
                refinery.admin_setting_path(setting),
                :class => 'cancel confirm-delete',
                :title => t('delete', :scope => 'refinery.admin.settings'),
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => setting.title),
                :method => :delete if setting.destroyable %>

    <% unless (help = t(setting.name, :scope => 'refinery.admin.settings.form.help', :default => '')).blank? %>
      <%= link_to refinery_icon_tag('information.png'), '#',
                  :tooltip => help,
                  :class => 'information suppress' %>
    <% end %>
  </span>
</li>
