<% content_for :header, t('pick_new_password_for', :scope => 'users.reset', :email => @user.email) %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => @user,
               :include_object_name => true
             } %>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'larger widest' %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'larger widest' %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => false,
               :submit_button_text => t('reset_password', :scope => 'users.reset'),
               :cancel_url => new_user_session_path,
               :cancel_title => nil,
               :hide_delete => true
             } -%>
<% end -%>
