<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(layout) -%>">
  <span class='title'>
    <%= layout.template_name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), layout_url(layout),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_layout_path(layout),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_layout_path(layout),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => layout.template_name),
        :method => :delete %>
  </span>
</li>
