<div id='actions'>
  <ul>
    <%% if ::Refinery::<%= class_name.pluralize %>::Admin::<%= class_name.pluralize %>Controller.searchable? %>
      <li>
        <%%= render '/refinery/admin/search', :url => refinery.<%= plural_name %>_admin_<%= "_index" if plural_name == singular_name%>_path %>
      </li>
    <%% end %>
    <li <%%= "class='selected'" if params[:action] == "index" %>>
      <%%= link_to t('.inbox'), refinery.<%= plural_name %>_admin_<%= plural_name %>_path, :class => "email_icon" %>
    </li><% if @includes_spam %>
    <li <%%= "class='selected'" if params[:action] == "spam" %>>
      <%% if @spam_count.any?  %>
        <%%= link_to "#{t('.spam'), :scope=> 'refinery'} (#{@spam_count})", spam_admin_<%= plural_name %>_url, :class => "spam_icon" %>
      <%% else %>
        <%%= link_to t('.spam', :scope => 'refinery'), spam_admin_<%= plural_name %>_url, :class => "spam_empty_icon" %>
      <%% end %>
    </li><% end %>
    <li>
      <%%= link_to t('.update_notified', :scope => 'refinery'),
                    refinery.edit_<%= plural_name %>_admin_setting_path(:<%= singular_name %>_notification_recipients, :dialog => true, :height => 300),
                    :class => "user_comment_icon" %>
    </li>
    <li>
      <%%= link_to t('.edit_confirmation_email', :scope => 'refinery'),
                  refinery.edit_<%= plural_name %>_admin_setting_path(:<%= singular_name %>_confirmation_body, :dialog => true),
                  :class => "edit_email_icon" %>
    </li>
  </ul>
</div>
