<%= render 'refinery/admin/search_header', :url => refinery.admin_users_path %>
<div id="users-index" class="infinite-scrolling-container" data-url="<%= refinery.admin_users_path(:page => @users.next_page) %>" data-total-pages="<%= @users.total_pages %>">
  <% if @users.any? %>
    <ul id='users' class='list-unstyled sortable_list'>
      <%= render 'users' %>
    </ul>
  <% else %>
    <p class="sortable_list">
      <% unless searching? %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
<div class="row pagination-spinner" style="display:none;">
  <div class="col-sm-12">
    <div class="load-more">
      <div class="ui active inverted dimmer">
        <div class="ui large loader"></div>
      </div>
    </div>
  </div>
</div>
