<tr id="sortable_<%= user.id %>" class='record <%= cycle("on", "on-hover") %>'>
  <td>
    <%= user.username %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= l(user.created_at, :format => :short) %>
  </td>
  <td>
    <%= link_to "Edit", main_app.edit_refinery_admin_user_path(user) %>
  </td>
</tr>
