<div class="search">
  <form method='GET' action='<%= url %>'>
    <div class="search-form">
      <%= text_field :search, nil, :id => 'search', :type => 'search', :name => 'search', :value => params[:search],
                     :class => 'form-control',
                     :placeholder => t('search_input_notice', :scope => 'refinery.admin.search')
      %>
      <%= hidden_field :wymeditor, nil, :name => 'wymeditor', :id => nil, :value => true  if params[:wymeditor].presence %>
      <%= hidden_field :dialog, nil, :name => 'dialog', :id => nil, :value => true if from_dialog? %>
      <%= hidden_field :callback, nil, :name => 'callback', :id => nil, :value => @callback if @callback.presence %>
      <span id="refinery-search-btn" class="search-btn">
        <button type="submit"><i class="gcicon gcicon-search"></i>
          <div class="ui active inline loader xs hidden"></div>
        </button>
      </span>
    </div><!-- /input-group -->
  </form>
</div>
