<tr class='record <%= cycle("on", "on-hover") %>'>
  <td class='title <%= resource.ext.try(:downcase) %>'>
    <%= resource.title %><%= ".#{resource.ext}" if resource.ext %>
  </td>
  <td>
    <%= number_to_human_size(resource.size) %>
  </td>
  <td class='actions'>
    <%= link_to "Download",  resource.url,
                :title => t('.download', :size => number_to_human_size(resource.size)) %>
    |
    <%= link_to "Edit", main_app.edit_refinery_admin_resource_path(resource),
                :title => t('edit', :scope => 'refinery.admin.resources') %>
  </td>
</tr>
