<%
  edit_url =    refinery.edit_admin_resource_path(resource)
  delete_url =  refinery.admin_resource_path(resource)
  delete_options = {data: {confirm: t('message',  scope: 'refinery.admin.delete', title: resource.title)}}
%>
<li class="record resource item <%= cycle('on', 'on-hover') %>">
  <%= mime_type_icon(resource.mime_type) %>
  <%= link_to translated_field(resource, :title), edit_url, class: [:title, :edit] %>
  <%= resource_meta_information resource %>
  <%= edit_in_locales(edit_url, translated_locales) %>

  <span class="actions">
    <%= action_icon :download,  resource.url, t('.download', size: number_to_human_size(resource.size)) %>
    <%= action_icon :edit,      edit_url,     t('edit', scope: 'refinery.admin.resources') %>
    <%= action_icon :delete,    delete_url,   t('delete', scope: 'refinery.admin.resources'), delete_options %>
  </span>
</li>
