<%
  edit_url =    refinery.edit_admin_resource_path(resource)
  delete_url =  refinery.admin_resource_path(resource)
  delete_options = {data: {confirm: t('.message',  scope: 'refinery.admin.delete', title: resource.title)}}
%>
<li class="clearfix record <%= cycle('on', 'on-hover') %>">

  <span class="title <%= resource.ext.try(:downcase) %>">
    <%= resource.title %><%= ".#{resource.ext}" if resource.ext %>
    <span class="preview">- <%= number_to_human_size(resource.size) %></span>
  </span>

  <span class="actions">
    <%= action_icon :download,  resource.url, t('.download', size: number_to_human_size(resource.size)) %>
    <%= action_icon :edit,      edit_url,     t('edit', scope: 'refinery.admin.resources') %>
    <%= action_icon :delete,    delete_url,   t('delete', scope: 'refinery.admin.resources'), delete_options %>
  </span>
</li>
