<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>
  <body>
    <%= render :partial => "/shared/site_bar" %>
    <div id='page_container'>
      <div id='page'>
        <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
        <div id='header'>
          <%= render :partial => "/shared/header" %>
        </div>
        <div id='body' class='clearfix'>
          <%= yield %>
        </div>
        <div id='footer'>
          <%= render :partial => "/shared/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
