<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title <%= resource.ext %>'>
    <%= resource.title %>.<%= resource.ext %>
    <span class="preview">- <%= number_to_human_size(resource.size) %></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('page_white_put.png'),  resource.url,
                :title => t('.download', :size => number_to_human_size(resource.size)) %>
    <%= link_to refinery_icon_tag('application_edit.png'), edit_admin_resource_path(resource),
                :title => t('edit', :scope => 'admin.resources') %>
    <%= link_to refinery_icon_tag('delete.png'), admin_resource_path(resource),
                :class => "cancel confirm-delete",
                :title => t('delete', :scope => 'admin.resources'),
                :confirm => t('message', :scope => 'shared.admin.delete', :title => resource.title),
                :method => :delete %>
  </span>
</li>
