<%= current_user.inspect %>
<%= current_user.roles.inspect %>
<% if refinery_user? %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] or local_assigns[:exclude_css] %>
  <% end -%>
  <div id='site_bar'>
    <div id='site_bar_content' class='clearfix'>
      <div id='switch'>
        <%= site_bar_switch_link -%>
      </div>
      <span id='site_name'>
        <%= link_to ::Refinery::Setting.find_or_set(:site_name, 'Company Name'),
                    'http://refinerycms.com',
                    :target => '_blank' %>
      </span>
      <div id='account_info'>
        <%= image_tag '/assets/refinery/avatar.png', :size => "24x24" %>
        <%= t('.greeting', site_bar_translate_locale_args) %>
        <%= current_user.username %>
        <span class='separator'>|</span>
        <%= link_to t('.log_out', site_bar_translate_locale_args),
                    main_app.destroy_refinery_user_session_path, :id => 'logout' %>
        <span class='separator'>|</span>
        <%= link_to t('.help', site_bar_translate_locale_args), "#" %>
      </div>
    </div>
  </div>
<% end %>
