<% if display_site_bar? %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] || local_assigns[:exclude_css] %>
  <% end -%>

  <nav class="navbar navbar-default navbar-fixed-top <%= @additional_top_nav_classes if @additional_top_nav_classes %>" id="site-bar" role="navigation">
    <div class="container-fluid">
      <div class="site-link pull-left">
        <!-- <%= site_bar_switch_link -%> -->
        <%= link_to Refinery::Core.site_name, '/' %>
      </div>

      <%= link_to 'http://refinerycms.com', :id => 'site_bar_refinery_cms_logo', :target => '_blank' do %>
        <span>Refinery CMS™</span>
      <% end %>

      <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= Refinery::Core.site_name %>
        </span>

        <%= link_to t('.log_out', site_bar_translate_locale_args),
                    ::Refinery::Core.refinery_logout_path,
                    :id => 'logout' if ::Refinery::Core.refinery_logout_path.present? %>
      </div>

    </div>
  </nav>

<% end %>
